{% extends 'base.html' %}
{% block title %}PDF Templates{% endblock title %}
{% block body %}

<style>
    .card:hover {
        background-color: #eee;
        cursor: pointer;
    }
</style>

<div class="container justify-content-center align-items-center d-flex mt-5">
    <div class="col-12 p-4 border rounded-3"
        style="background-color: white; box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.6) !important;">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'pdfForm_Senegal' %}" style="text-decoration: none; color:darkslategray;">
                    <div class="card text-center font-weight-bolder h-100 stretched-link">
                        <h5 class="card-title" style="font-size: xxx-large;">Senegal</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'pdfForm_IvoryCoast' %}" style="text-decoration: none; color:darkslategray;">
                    <div class="card text-center font-weight-bolder h-100 stretched-link">
                        <h5 class="card-title" style="font-size: xxx-large;">Côte d'Ivoire</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}